.project
.pydevproject
.python-version
.coverage
.idea
.idea.vagrant
*.pyc
*~
*.pyo
__pycache__
/virtual
.libs
build
/static
/build
/develop-eggs
/dist
/eggs
/sdist
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec
/.tox
/.cache
